@model List<BasketVM>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row mt-3">
        @if (Model.Count != 0)
        {
            <div class="col-12">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Database Count</th>
                            <th scope="col">Basket Count</th>
                            <th scope="col">Minus</th>
                            <th scope="col">Plus</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="parentBody">
                        @foreach (BasketVM item in Model)
                        {
                            <tr id="parentTr">
                                <td><img src="~/img/@item.Image" width="100" /></td>
                                <td>@item.Title</td>
                                <td>@item.Price</td>
                                <td>@item.ProductTotalPrice</td>
                                <td>@item.DbCount</td>
                                <td>
                                    @item.BasketCount
                                </td>
                                <td>
                                    <a>
                                        <i class="fas fa-minus minusProduct" data-id="@item.Id"></i>
                                    </a>
                                </td>
                                <td>
                                    @if (item.BasketCount < item.DbCount)
                                    {
                                        <a>
                                            <i class="fas fa-plus plusProduct" data-id="@item.Id"></i>
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a>
                                        <i class="fas fa-trash-alt removeProduct" data-id="@item.Id"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

           
                <div class="col-12" id="basketTotalPrice">Total:@ViewBag.BasketTotalPrice</div>
            
        }
        else
        {
            <p>
                Sebet boshdur mehsullari sechmek uchun ya
                <a asp-controller="Home" asp-action="Index">Home</a> ya da
                <a asp-controller="Product" asp-action="Index">Products</a> sehifesine baxa bilersiniz
            </p>
        }
    </div>
</div>

@section Scripts
 {
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>


        let plusProduct = document.querySelectorAll('.plusProduct');
        
        plusProduct.forEach(item => {
            item.addEventListener("click", function (e) {
                var plusBtn = e.target;

                let formdata = new FormData();
                let id = plusBtn.getAttribute("data-id");
                formdata.append("id", id);
                axios.post('/basket/ProductCountPlusAxious', formdata)

                    .then(function (response) {
                        console.log(response.data.productBasketCount)
                        console.log(response.data.basketProducts)
                        console.log(response.data.basketTotalPrice)
                        console.log(response.data.productTotalPrice)
                        let basketTotalPrice = document.getElementById('basketTotalPrice');
                        let totalPriceNav = document.getElementById('totalPriceNav');

                        basketTotalPrice.innerHTML = 'Total:' + response.data.basketTotalPrice;
                        totalPriceNav.innerHTML = 'CART' + ' (' + response.data.basketTotalPrice + ')';
                        plusBtn.parentElement.parentElement.previousElementSibling.
                            previousElementSibling.textContent = response.data.productBasketCount;
                        plusBtn.parentElement.parentElement.previousElementSibling.previousElementSibling
                        .previousElementSibling.previousElementSibling.textContent=response.data.productTotalPrice;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            let errorObj = error.response.data;
                            for (let errors in errorObj) {
                                let error = errorObj[errors];
                                console.log(error);
                            }
                        }
                    });
            })
        })
    </script>
    <script>
        let minusProduct = document.querySelectorAll('.minusProduct');

        minusProduct.forEach(item => {
            item.addEventListener("click", function (e) {
                var minusBtn = e.target;

                let formdata = new FormData();
                let id = minusBtn.getAttribute("data-id");
                formdata.append("id", id);
                axios.post('/basket/ProductCountMinusAxious', formdata)

                    .then(function (response) {
                        console.log(response.data.productBasketCount)
                        console.log(response.data.basketProducts)
                        console.log(response.data.basketTotalPrice)
                        let basketTotalPrice = document.getElementById('basketTotalPrice');
                        let totalPriceNav = document.getElementById('totalPriceNav');

                        basketTotalPrice.innerHTML = 'Total:' + response.data.basketTotalPrice;
                        totalPriceNav.innerHTML = 'CART' + ' (' + response.data.basketTotalPrice + ')';
                        //if (response.data.productBasketCount == 1) {
                        //    minusBtn.parentElement.parentElement.innerHTML = '';
                        //}

                        minusBtn.parentElement.parentElement.previousElementSibling.textContent = response.data.productBasketCount;
                        minusBtn.parentElement.parentElement.previousElementSibling.previousElementSibling
                            .previousElementSibling.textContent = response.data.productTotalPrice;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            let errorObj = error.response.data;
                            for (let errors in errorObj) {
                                let error = errorObj[errors];
                                console.log(error);
                            }
                        }
                    });
            })
        })
    </script>
}

 @*@section Scripts 
 { 
     <script > 
       
      $(document).on("click", ".plusProduct", function () { 
             let id = $(this).attr("data-id"); 
              
             $.ajax({ 
                 url: "/Basket/ProductCountPlusAjax?Id=" + id, 
                 type: "Get", 
                 success: function (res) { 
                 console.log(res) 
              
                 let productCount= $(".productCount"); 
                  
                 productCount=res; 
                      $("#parentTr").text(childTr); 
                 } 
             }) 
         }) 
     </script> 
 }*@ 












