@model IEnumerable<BasketVM>
@{
    Layout = null;
    double Total = 0;
}

@foreach (BasketVM item in Model)
{
    double total = item.Count * item.Price;
    Total += total;

    <tr id="parentTr">
        <td><img src="~/img/@item.Image" width="100" /></td>
        <td>@item.Title</td>
        <td>@item.Price</td>
        <td>@total</td>
        <td>@ViewBag.dbProductCount</td>
        <td class="productCount">
            @item.Count
        </td>
        <td>
            <a asp-controller="Basket" asp-action="ProductCountMinus" asp-route-id="@item.Id">
                <i class="fas fa-minus"></i>
            </a>
        </td>
        <td>
            @if (item.Count < ViewBag.dbProductCount)
            {
                <a>
                    <i class="fas fa-plus plusProduct" onclick="Increase()" data-id="@item.Id"></i>
                </a>
            }
        </td>
        <td>
            <a>
                <i class="fas fa-trash-alt removeProduct" data-id="@item.Id"></i>
            </a>
        </td>
    </tr>
}
