@model IEnumerable<BasketVM>
@{
    Layout = null;
}

@foreach (BasketVM item in Model)
{
    <tr id="parentTr">
        <td><img src="~/img/@item.Image" width="100" /></td>
        <td>@item.Title</td>
        <td>@item.Price</td>
        <td>@item.ProductTotalPrice</td>
        <td>@item.DbCount</td>
        <td class="productCount">
            @item.BasketCount
        </td>
        <td>
            <a asp-controller="Basket" asp-action="ProductCountMinus" asp-route-id="@item.Id">
                <i class="fas fa-minus"></i>
            </a>
        </td>
        <td>
            @if (item.BasketCount < item.DbCount)
            {
                <a>
                    <i class="fas fa-plus plusProduct" onclick="Increase()" data-id="@item.Id"></i>
                </a>
            }
        </td>
        <td>
            <a>
                <i class="fas fa-trash-alt removeProduct" data-id="@item.Id"></i>
            </a>
        </td>
    </tr>
}
